body {
    font-family: Arial sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links,
.auth-links {
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    margin: 0;
}

.auth-links li a:hover {
    color: red;
}

.nav-links li,
.auth-links li {
    margin: 0 5px;
    list-style-type: none;
}

.nav-links li a,
.auth-links li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
}

.exist {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    color: red;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px;
    font-weight: bold;
}

.edit-profile {
    margin-top: 20px;
    padding: 10px 30px;
}

.image_content {
    width: 6em;
    height: 6em;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    padding: 0px;
}

select {
    font-family: "Times New Roman";
    width: 20em;
    height: 2.5em;
    padding: 5px;
    margin: 5px;
}

.main-start {
    padding: 20px;
    text-align: center;
    color: red;
}

.file-profile {
    padding: 10px;
    margin-left: 40px;
    font-size: 12px;
    border: none;
}

.button-flex {
    display: flex;
    justify-content: center;
}

.main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

.main-box {
    flex: 1 1 40%;
    height: 200px;
    max-width: 40%;
    margin: 10px;
    padding-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
}

div#id_assigned_to {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}

div#id_assigned_to label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 5px;
    cursor: default;
}

div#id_assigned_to input[type='checkbox'] {
    cursor: pointer;
    margin-right: 10em;
    width: 20px;
    height: 20px;
}

li {
    text-align: center;
    list-style-type: none;
}

input {
    font-family: "Times New Roman";
    width: 20em;
    height: 2.3em;
    padding-left: 5px;
    border: 1px solid gray;
}

textarea {
    font-family: "Times New Roman";
    width: 20em;
    height: 4em;
}

.errorlist {
    text-align: center;
    padding-bottom: 10px;
    list-style-type: none;
    color: red;
    font-weight: bold;
}

.no-tasks {
    text-align: center;
    padding-bottom: 10px;
    list-style-type: none;
}
h1, h2, h3 {
    color: black;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    margin-block-start: 30px;
    margin-block-end: 5px;
}

p {
    color: black;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    margin-block-start: 10px;
    margin-block-end: 5px;
}

a {
    text-decoration: none;
    list-style-type: none;
}

.post-container {
    padding: 20px;
    text-align: center;
}

.post {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #f1f1f1;
    margin-top: auto;
}

form {
    font-family: "Times New Roman";
    text-align: center;
}

button {
    font-family: "Times New Roman";
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 5px 15px 5px;
}

button:hover {
    background-color: #f1f1f1;
    color: black;
}

.logo-img {
    width: 5em;
    height: 5em;
}

.pagination {
    text-align: center;
    margin: 30px;
}

.step-links a {
    padding: 10px;
    margin: 0 5px;
    background-color: black;
    color: red;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: normal;
}

.step-links .current {
    padding: 10px;
    margin: 0 10px;
    background-color: black;
    color: red;
    border-radius: 5px;
}

.step-links a:hover {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    color: black;
}

ul {
    display: block;
    padding-inline-start: 0px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

@media (max-width: 1200px) {
    .main-box {
        flex: 1 1 40%;
        max-width: 40%;
    }
}

@media (max-width: 600px) {
    .main-box {
        flex: 1 1 100%;
        max-width: 100%;
    }
}