{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div>
    <form name="forgot_password" method="POST" novalidate class="password-form">
        <h1>Forgotten your password?</h1>
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }} {{ field }}
            <div class="errorlist">
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        {% if status == 'success' %}
            <div role="alert" class="errorlist">
                The link has been sent to your email!
            </div>
        {% endif %}
        {% if status == 'failed' %}
            <div role="alert" class="errorlist">
                Something went wrong: {{ error }}.
            </div>
        {% endif %}
        <button type="submit">Send</button>
    </form>
</div>
{% endblock %}