{% extends 'base.html' %}
{% load static %}

{% block title %}Settings{% endblock %}

{% block content %}
            <div>
                <h1>{% if user.first_name and user.last_name %} {{ user.first_name }} {{ user.last_name }}`s {% else %} {{ user.username }}`s {% endif %} profile settings</h1>
                <form method="POST" enctype="multipart/form-data" class="settings-form">
                    {% csrf_token %}
                    <div>
                        {% if profile.avatar %}
                            <img src="{{ profile.avatar.url }}" class="image_content"/>
                        {% endif %}
                        <label for="id_avatar">Upload your avatar here:</label>
                            <input id="id_avatar" class="file-profile" type="file" name="avatar" accept="image/*"/>
                        <div>
                            {{ form.avatar.errors }}
                        </div>
                    </div>
                    <div>
                        {{ form.bio.label_tag }} {{ form.bio }}
                        <div>
                            {{ form.bio.errors }}
                        </div>
                    </div>
                    <div>
                        <label for="id_resume">Upload your resume here:</label>
                        <input name="resume" class="file-profile" type="file" id="id_resume" accept="file/*">
                        <div>
                        {{ form.resume.errors }}
                        </div>
                        {% if profile.resume %}
                        <a class="exist" href="{{ profile.resume.url }}" target="_blank">Download</a>
                        {% endif %}
                    </div>
                    <button class="edit-profile" type="submit">Edit</button>
                </form>
            </div>
{% endblock %}